<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


    <title>실습</title>


    <style type="text/css">
        * {
            font-family: "Stylish", sans-serif;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }


    </style>
    <script>
        $(document).ready(function () {
            $("button[name='save']").click(function () {
                $("body").append("");
            });
        });

    </script>

</head>

<body>
<div class="wrap">
    <div class="jumbotron">
        <h1 class="display-4">주식 종목 추천!!</h1>
        <p class="lead">원하시는 종목을 추천합니다</p>
        <hr class="my-4">
        <p class="lead">
            <button name='save' id="btn-post-box" type="button" class="btn btn-primary">추천시작
            </button>
        </p>
        <input id="a" type="checkbox" value='코스닥'/><label
                    for="a">코스닥</label>
            <input id="b"  type="checkbox" value='코스피' /><label
                    for="b">코스피</label>
    </div>

    </div>
</div>
</body>

</html>